#add {
  display: flex;
  justify-content: center;
  margin-left: 250px;
  margin-top: 10px;
}

#all {
  border: 3px solid #A3B6C5;
  padding: 10px 100px 10px 100px;
  border-radius: 10px;
}

#add-button {
  width: 70px;
  height: 40px;
  background-color: #A3B6C5;
  border: 3px solid#CCDBE2;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}